.k-line-field{
  height: 1.5rem;
}

.k-field-name-visibility input:checked{
  border-color: var(--color-positive);
  background-color: var(--color-positive);
}

.k-field-name-visibility input:checked + .k-toggle-input-label{
  color: var(--color-positive)
}

.k-field-name-visibility input + .k-toggle-input-label{
  color: rgba(0,0,0,.5)
}